$thema-color: #00C3F3;
$tag-color: #db0f6f;
$background-color: #f4f4f4;
$font-color: #0D313C;
#container{
  padding: 0.8rem;

}
body{
  background: $background-color;
  color: $font-color;
}
textarea::placeholder {
  color: #cccccc;
}
input.form_alert{
  color:#f00;
  background: #ffc2d1;
}
/* 見出し */
h1 {
  position: relative;
  margin-left: 7px;
  padding: 1rem 2rem calc(1rem + 5px);
  background: $thema-color;
  overflow: visible;
  font-size: 2rem;
  font-weight: bold;
  // margin-left: 7px;
  // margin-top: 7px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  span:first-child{
    margin-right: 1.2rem;
  }
  .subtitle{
    font-size: 1.4rem;
  }
}

h1:before {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid $font-color;
  color:$font-color;
}

h2 {
  display: block;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 2rem;
  background: $thema-color;
  color: #fff;
}

h3 {
  position: relative;
  overflow: hidden;
  padding: 1rem 1rem 1rem 90px;
  border: 2px solid #000;
  font-size: 2rem;
}

h3:before {
  position: absolute;
  top: -150%;
  left: -130px;
  width: 200px;
  height: 300%;
  content: '';
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  background: #000;
}

h3 span {
  font-size: 40px;
  font-size: 3rem;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 16px;
  color: #fff;
}

/* ボタン */
a i{
  padding-right: 0.3rem;
}
.w_full{
  width: 100%;
  i{
    padding-right: 0.5rem;
  }
}
.button-secondary{
  background: #fff;
  border-radius: 19px;
}
.btn_acordion{
  width: calc(100% - 2rem);
  margin: 1rem 1rem 0;
  padding: 0;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  box-sizing: border-box;
  position: relative;
  transform:rotate(0deg);
  i {
    margin-left: 0.5rem;
  }
}
.btn_acordion i.up{
  transform:rotate(180deg);
}
.move_icon{
  position: absolute;
  right: 1rem;
  font-size: 1.6rem;
  font-weight: normal;
  top: 1.3rem;
}
.checkbox_on{
  background: $tag-color!important;
  color: #fff;
}
#hidden_spots,#hidden_routes{
  display: none;
}
#route_form,#spot_form{
  input[type="text"], textarea ,select{
    width: 100%;
  }
}
.button_box.btn3{
  display: flex;
  .button-primary{
    width: calc(33.3% - 4px);
    box-sizing: border-box;
  }
  .button-primary:first-child{
    margin-right: 6px;
  }
  .button-primary:last-child{
    margin-left: 6px;
  }
}
.button_box.btn2{
  display: flex;
  .button-primary{
    width: calc(50% - 3px);
    box-sizing: border-box;
  }
  .button-primary:first-child{
    margin-right: 3px;
  }
  .button-primary:last-child{
    margin-left: 3px;
  }
}

#bottom_nav{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5rem;
  padding: 1rem 0;
  ul{
    list-style: none;
    display: flex;
    width: calc(100% - 1.6rem);
    flex-direction: row-reverse;
  }
  li{
    float: right;
    height: 5rem;
    width: 5rem;
    margin-left: 1rem;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    text-align: center;
    line-height: 5rem;
    font-size: 2rem;
    cursor: pointer;
    i{
      line-height: 4rem;
      color: #fff;
    }
  }
}

/* ページネーション */
.pagination{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  // margin-bottom: 2rem;
}
.pagination span{
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  line-height: 3.1rem;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
  color: #FF436B;
  box-sizing: border-box;
  position: relative;
  border: solid 1px $thema-color;
  &:hover{
    border-color: $tag-color;
  }

}
.pagination a{
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  line-height: 3.0rem;
  &:hover{
    color: $tag-color;
  }
}
.pagenation_left,.pagenation_right{
  width: 3.2rem;
}
.pagination .current{
  background: $thema-color;
  color: #fff;
  border: none;
}
